	{% extends "auto_f5/common/base.side.html" %}
   <!-- Role List -->
{% block title %}
自动化运维系统
{% endblock %}


{% block rcontent %}

	<!-- <link href="/static/switch/docs/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/static/switch/docs/css/highlight.css" rel="stylesheet">
    <link href="/static/switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="/static/switch/docs/css/main.css" rel="stylesheet">


	<div class="col-md-5 col-md-offset-1">
		<form class="form-horizontal" action={% url "node_defineurl" pool_id node.id%} method='POST'>
				<div class="form-group">
					 <label for="container_name" >节点IP</label>
                     <div class="controls" >
						<input name="name" type="input"class="form-control" value={{ node.node_ip}}></input>
					</div>
				</div>
                
				<div class="form-group">
					 <label for="nodes" >节点端口</label>
					<div class="controls" >
						<input name="name" type="input"class="form-control" value={{node.port}}></input>
					</div>
				</div>
                
                <div class="form-group">
					 <label class="control-label" >节点状态</label>
					<div class="controls">
						<select class="form-control" name='status'>
                        {% if node.status == "SESSION_STATUS_ENABLED" %}
						  <option value="SESSION_STATUS_ENABLED" selected = "selected">enabled</option>
						  <option value="SESSION_STATUS_FORCED_DISABLED">disabled</option>
                          {% else %}
                          <option value="SESSION_STATUS_ENABLED" >enabled</option>
						  <option value="SESSION_STATUS_FORCED_DISABLED" selected = "selected">disabled</option>
                          {% endif %}
						</select>
					</div>
				</div>
                
				<!-- <div class="form-group">
					 <label for="status" >节点状态:</label><br>
                      <input name="status" id="switch-onText" type="checkbox" checked  data-on-label="enabled" data-off-label="disabled"  />
				</div> -->
				<div class="form-group">
					<div class="controls">
						<button type="submit" class="pull-right btn btn-primary">确认</button>
					</div>
				</div>
                
		</form>
	</div>
	<script src="/static/switch/docs/js/jquery.min.js"></script>
    <!-- <script src="/static/switch/docs/js/bootstrap.min.js"></script> -->
    <script src="/static/switch/dist/js/bootstrap-switch.js"></script>
        <script>
    $(function(argument) {
      $('[type="checkbox"]').bootstrapSwitch();
    })
    </script>
{%endblock%}
